* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


#content {
    color: rgb(255, 255, 255);
    min-height: 100vh;
    background: url('../images/background.jpeg');
    display: flex;
    flex-direction: column;
   
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 50px;
    border: solid blue 1px;
}

button {
    height: fit-content;
    background-color: rgb(18, 18, 187);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
  
}

button:hover, .clickedBTN {
    background-color: blue;

    
}


.contentDiv {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 20px;
    width: 100vw;
    align-self: center;
    justify-content: end;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
