* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
    width: 100vw;
    box-sizing: border-box;
}

:root {
    --dark-seeThrough: rgba(0, 0, 0, 0.5);
    --dark-seeThroughHalf: rgba(0, 0, 0, 0.8);
    --buttob-blue: rgb(18, 18, 187);
    
}

body {
    background: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#content {
    color: rgb(255, 255, 255);
    height: calc(90vh - 20px );
    max-width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-seeThrough);
    /* padding: 10px 25px; */
    height: 10vh;
}

.logo {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 50px;
    
}

header button {
    height: fit-content;
    background-color: rgba(18, 18, 187, 0);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;  
    align-self: flex-end;
}

header button:hover, .clickedBTN {
    background-color: rgb(0, 0, 0);
    border-bottom: solid 3px white;
    padding-bottom: 20px;    
}

header button:hover {
    background-color: gray;
}

.homeDiv {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Align items to the top */
    height: 90%;
}

.homeText {
    color: white;
    background-color: var(--dark-seeThrough);
    padding: 20px 25px;
    width: 50%;
    height: 90%;
    overflow-y: auto; /* Use auto for scroll only when necessary */
}
.homeText::-webkit-scrollbar {
    display: none;
  }

.reviews {
    width: 30%;
    background-color: var(--dark-seeThrough);
    height: 70vh;
    overflow-y: auto; /* Use auto for scroll only when necessary */
    padding: 10px 30px;
    margin-left: 10px; /* Add margin for spacing between homeText and reviews */
}
.reviews::-webkit-scrollbar {
    display: none;
  }

@media (max-width: 768px) {
    .logo {
        font-size: 15px;
    }
    
    .homeDiv {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items horizontally */
    }

    .homeText {
        width: 75%; /* Full width on smaller screens */
        margin: 10px 0; /* Adjust margin for spacing */
        height: 50vh; /* Adjust height as needed */
    }

    .reviews {
        width: 75%; /* Full width on smaller screens */
        margin: 10px 0; /* Adjust margin for spacing */
        height: 50vh; /* Adjust height as needed */
    }
}

.menuDiv {
    display: flex;
    flex-direction: column;
    height: 90%;
    font-size: 14px;
    width: 95%;
}

.menuNav {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
    height: 30px;

    button {
        background-color: var(--dark-seeThrough);
        flex: 1;
        color: white;
        border: 0;
        border-bottom: solid 3px black;
    }

    .menuBTNClicked {
    background-color: black;
    border-bottom: 3px solid white;

    }
    
}

.menuNav button:hover {
    /* background-color: gray; */
    border-bottom: 3px solid white;
}


.menuContent {
    color: white;
    background-color: var(--dark-seeThrough);
    /* border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black; */
    padding: 10px;
    text-align: center;
}

.aboutDiv {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    padding: 20px;
    background-color: var(--dark-seeThrough);
    overflow-y: scroll;
}
.aboutDiv::-webkit-scrollbar {
    display: none;
  }


ul {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

footer {
    height: 20px;
    width: 100vw;
    align-self: center;
    justify-content: end;
    background-color: var(--dark-seeThrough);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: auto;
    
}
