* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root {
    --dark-seeThrough: rgba(0, 0, 0, 0.33);
}

body {
    background: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    color: rgb(255, 255, 255);
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    
   
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-seeThrough);
    padding: 10px 15px;
}

.logo {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 50px;
}

button {
    height: fit-content;
    background-color: rgb(18, 18, 187);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
  
}

button:hover, .clickedBTN {
    background-color: blue;

    
}

.homeDiv {
    display: flex;

    
}

.homeText {
    color: white;
    background-color: var(--dark-seeThrough);
    padding: 20px 25px;
    width: 700px;
    margin: 10px 45px;

}

.reviews {
    width: calc(95vw - 700px - 100px);
    background-color: var(--dark-seeThrough);
    height: fit-content;
    padding:  10px 30px;
    margin: 10px 45px;
}



footer {
    height: 20px;
    width: 100vw;
    align-self: center;
    justify-content: end;
    padding: 5px 0;
    background-color: var(--dark-seeThrough);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
