* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
    width: 100vw;
    box-sizing: border-box;
}

:root {
    --dark-seeThrough: rgba(0, 0, 0, 0.5);
    
}

body {
    background: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    color: rgb(255, 255, 255);
    min-height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    
   
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-seeThrough);
    padding: 10px 25px;
}

.logo {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 50px;
    
}

header button {
    height: fit-content;
    background-color: rgb(18, 18, 187);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
  
}

button:hover, .clickedBTN {
    background-color: blue;

    
}

.homeDiv {
    display: flex;
    justify-content: space-around;    
}

.homeText {
    color: white;
    background-color: var(--dark-seeThrough);
    padding: 20px 25px;
    width: 700px;
    margin: 10px 45px;

}

.reviews {
    width: 300px;
    background-color: var(--dark-seeThrough);
    height: fit-content;
    padding:  10px 30px;
    margin: 10px 45px;
}



.menuDiv {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 95%;
    margin: 0 50px;
}

.menuNav {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
    height: 30px;

    button {
        background-color: var(--dark-seeThrough);
        flex: 1;
        color: white;
        border: 0;
    }

    .menuBTNClicked {
    background-color: black;
    border-bottom: 3px solid white;

    }
    
}

.menuNav button:hover {
    background-color: black;
    border-bottom: 3px solid white;
}




.menuContent {
    color: white;
    background-color: var(--dark-seeThrough);
    border: 3px solid black;
    padding: 10px;
}

footer {
    height: 20px;
    width: 100vw;
    align-self: center;
    justify-content: end;
    padding: 5px 0;
    background-color: var(--dark-seeThrough);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
